<!doctype html>
<html lang=en-GB>
	<head>
		<meta charset='utf-8'>
		<title>Library</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel='stylesheet' href='/lib/semantic.min.css'>
		<link rel='stylesheet' href='/css/main.css'>
        <script src='/lib/jquery.min.js'></script>
        <script src='/lib/underscore.min.js'></script>
        <script src='/lib/backbone.min.js'></script>
        <script src='/lib/semantic.min.js'></script>
	</head>
	<body>
        <div class="pusher">
            <div id="title">
                The Library
            </div>

            <div class="ui doubling cards" id="library">
            </div>
            <div id="libraryModal">
            </div>
        </div>

        <!-- Templates -->
        <!--Book detail template-->
        <<script type="text/template" id="detail_template">
            <div class="ui basic segment">
                <div class="ui segments">
                    <div class="ui basic segment">
                        <div class="ui horizontal label">
                            Title
                        </div>
                        <%= book.title %>
                    </div>
                    <div class="ui basic segment">
                        <div class="ui horizontal label">
                            Author
                        </div>
                        <%= book.author %>
                    </div>
                    <div class="ui basic segment">
                        <div class="ui horizontal label">
                            Published
                        </div>
                        <%= book.year %>
                    </div>
                </div>
                <div class="ui piled segment">
                    <div class="ui top attached label">Details</div>
                    <div class="ui content">
                        <p>
                            <%= book.description %>
                        </p>
                    </div>
                </div>
            </div>
        </script>

        <!--Library (collection of books) template-->
        <script type="text/template" id="library_template">
            <% for(var i = 0; i < library.length; i++) {%>
                <% var current = library[i]; %>
                <div class="ui centered grey card" id="<%= current.id %>">
                    <div class="ui move left reveal">
                        <div class="visible content">
                            <img class="ui massive fluid image" src="img/covers/<%= current.cover %>"></img>
                        </div>
                        <div class="hidden text content">
                            <%= _.template($("#detail_template").html())({'book': current}) %>
                        </div>
                    </div>
                </div>
            <% } %>
        </script>

        <!--Book details modal-->
        <script type="text/template" id="modal_template">
            <div class="ui large modal" id="<%= book.id + 'Modal' %>">
                <div class="ui celled grid">
                    <div class="seven wide column">
                        <img class="ui centered massive fluid rounded image" src="img/covers/<%= book.cover %>"></img>
                    </div>
                    <div class="nine wide scrolling content column">
                        <div id="ui segments">
                            <%= _.template($("#detail_template").html())({'book': book}) %>
                        </div>
                    </div>
                </div>
            </div>
        </script>

        <script src='/js/models.js'></script>
        <script src='/js/collections.js'></script>
        <script src='/js/router.js'></script>
        <script src='/js/view/views.js'></script>
		<script>
            $(function() {
                var str1 = " Moby-Dick is the story of Captain Ahab's quest to avenge the whale that 'reaped' his leg. The quest is an obsession and the novel is a diabolical study of how a man becomes a fanatic. But it is also a hymn to democracy. Bent as the crew is on Ahab s appalling crusade, it is equally the image of a co-operative community at work: all hands dependent on all hands, each individual responsible for the security of each. Among the crew is Ishmael, the novel's narrator, ordinary sailor, and extraordinary reader. Digressive, allusive, vulgar, transcendent, the story Ishmael tells is above all an education: in the practice of whaling, in the art of writing.",
                str2 = "Set in the small Southern town of Maycomb, Alabama, during the Depression, To Kill a Mockingbird follows three years in the life of 8-year-old Scout Finch, her brother, Jem, and their father, Atticus--three years punctuated by the arrest and eventual trial of a young black man accused of raping a white woman. Though her story explores big themes, Harper Lee chooses to tell it through the eyes of a child. The result is a tough and tender novel of race, class, justice, and the pain of growing up.",
                str3 = "Join Douglas Adams's hapless hero Arthur Dent as he travels the galaxy with his intrepid pal Ford Prefect, getting into horrible messes and generally wreaking hilarious havoc. Dent is grabbed from Earth moments before a cosmic construction team obliterates the planet to build a freeway. You'll never read funnier science fiction; Adams is a master of intelligent satire, barbed wit, and comedic dialogue. The Hitchhiker's Guide is rich in comedic detail and thought-provoking situations and stands up to multiple reads. Required reading for science fiction fans, this book (and its follow-ups) is also sure to please fans of Monty Python, Terry Pratchett's Discworld series, and British sitcoms.",
                str4 = "A blind old man, a young apprentice working in a tattoo shop, and a mad woman haunting an Ohio institute narrate this story of a family that encounters an endlessly shifting series of hallways in their new home, eventually coming face to face with the awful darkness lying at its heart.",
                str5 = "Long ago, in a time forgotten, a preternatural event threw the seasons out of balance. In a land where summers can last decades and winters a lifetime, trouble is brewing. The cold is returning, and in the frozen wastes to the north of Winterfell, sinister forces are massing beyond the kingdom’s protective Wall. To the south, the king’s powers are failing—his most trusted adviser dead under mysterious circumstances and his enemies emerging from the shadows of the throne. At the center of the conflict lie the Starks of Winterfell, a family as harsh and unyielding as the frozen land they were born to. Now Lord Eddard Stark is reluctantly summoned to serve as the king’s new Hand, an appointment that threatens to sunder not only his family but the kingdom itself.",
                str6 = "Harry Potter has no idea how famous he is. That's because he's being raised by his miserable aunt and uncle who are terrified Harry will learn that he's really a wizard, just as his parents were. But everything changes when Harry is summoned to attend an infamous school for wizards, and he begins to discover some clues about his illustrious birthright. From the surprising way he is greeted by a lovable giant, to the unique curriculum and colorful faculty at his unusual school, Harry finds himself drawn deep inside a mystical world he never knew existed and closer to his own noble destiny.",
                str7 = "Welcome to Derry, Maine. It's a small city, a place as hauntingly familiar as your own hometown. Only in Derry the haunting is real. They were seven teenagers when they first stumbled upon the horror. Now they are grown-up men and women who have gone out into the big world to gain success and happiness. But the promise they made twenty-eight years ago calls them reunite in the same place where, as teenagers, they battled an evil creature that preyed on the city's children. Now, children are being murdered again and their repressed memories of that terrifying summer return as they prepare to once again battle the monster lurking in Derry's sewers.";

                var books = [
                    {title: "Moby Dick", author: "Herman Melville", description: str1, year: 1851, cover: "moby.jpg"},
                    {title: "To Kill a Mockingbird", author: "Harper Lee", description: str2, year: 1960, cover: "tkam.jpg"},
                    {title: "Hitchhiker's Guide to the Galaxy", author: "Douglas Adams", description: str3, year: 1979, cover: "hitchhiker.jpg"},
                    {title: "House of Leaves", author: "Mark Z. Danielewski", description: str4, year: 2000, cover: "house.jpg"},
                    {title: "A Game of Thrones", author: "George R. R. Martin", description: str5, year: 1996, cover: "got.jpg"},
                    {title: "Harry Potter and the Sorcerer's Stone", author: "JK Rowling", description: str6, year: 1997, cover: "sorcerer.jpg"},
                    {title: "It", author: "Stephen King", description: str7, year: 1986, cover: "it.jpg"},
                ]

                var libraryView = new com.library.view.Library({'bookArray' : books});
            });

            // From https://developers.google.com/web/fundamentals/codelabs/offline/#register_a_service_worker_on_the_site
            if('serviceWorker' in navigator) {
                navigator.serviceWorker.register('/sw.js', { scope: '/'}).then(registration => {
                    console.log('registered');
                }).catch(error => console.log('error', error, arguments));

                navigator.serviceWorker.ready.then(registration => {
                    console.log('ready');
                });

                // From http://craig-russell.co.uk/2016/01/29/service-worker-messaging.html#.WyPm5Z9Ki9I
                navigator.serviceWorker.addEventListener('message', event => {
                    switch(event.data) {
                        case "addAll":
                            var toCache = [];
                            var css = document.getElementsByTagName("link");
                            for(el of css) {
                                var href = el.getAttribute("href");
                                if(href) {
                                    toCache.push(href);
                                }
                            }
                            var js = document.getElementsByTagName("script");
                            for(el of js) {
                                var src = el.getAttribute("src");
                                if(src) {
                                    toCache.push(src);
                                }
                            }
                            event.ports[0].postMessage(toCache);
                            break;
                        default:
                            console.log(event.data);
                    }
                });
            }
		</script>
	</body>
</html>
